{% extends "base.html" %}
{% load static %}

{% block title %}Recipes - Sizzle{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Recipes</h1>

  <form method="GET" action="{% url 'recipe_list' %}" class="mb-4">
    <div class="input-group">
      <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Search for a recipe..."
        value="{{ search_query }}"
      />
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>

  <div class="row">
    {% for recipe in page_obj %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-lg">
        <img
          src="{{ recipe.featured_image.url }}"
          class="card-img-top"
          alt="{{ recipe.title }}"
        />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-size: clamp(1.2rem, 5vw, 1.5rem);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100%;
            "
          >
            {{ recipe.title }}
          </h5>
          <p
            class="card-text"
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: clamp(0.8rem, 3vw, 1rem);
            "
          >
            {{ recipe.description }}
          </p>
          <div class="text-center">
            <a
              href="{% url 'recipe_detail' recipe.slug %}"
              class="btn btn-custom"
              >View Recipe</a
            >
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No recipes available at the moment.</p>
    {% endfor %}
  </div>

  <ul class="pagination justify-content-center mt-4">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a
        href="?page=1"
        class="page-link"
        style="color: #333 !important; text-decoration: none !important"
        >FIRST</a
      >
    </li>
    <li class="page-item">
      <a
        href="?page={{ page_obj.previous_page_number }}"
        class="page-link"
        style="color: #333 !important; text-decoration: none !important"
        >&laquo; PREV</a
      >
    </li>
    {% endif %}

    <li class="page-item disabled">
      <span
        class="page-link"
        style="color: #999 !important; text-decoration: none !important"
        >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
      >
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a
        href="?page={{ page_obj.next_page_number }}"
        class="page-link"
        style="color: #333 !important; text-decoration: none !important"
        >NEXT &raquo;</a
      >
    </li>
    <li class="page-item">
      <a
        href="?page={{ page_obj.paginator.num_pages }}"
        class="page-link"
        style="color: #333 !important; text-decoration: none !important"
        >LAST</a
      >
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
